body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],input[type='email'],input[type='password'],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

select{
    width: 250px;
}

input[type="number"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fdbb0a;
    width: 50%;
}

input[type="submit"]:hover {
    cursor: pointer;
}
table
{
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: #555555;
    text-align: center;
}

.containerForm {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
}