<!--
Function of page:
To view, add and edit payment details for B2B and Cybersource

Description:
B2B requires a funding account number to create a virtual account
CyberSource requires aggregator ID and Card Accepted ID for payment processing which is obtained after registration with CyberSource
-->

{% include "./common/header.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='./accounts/cybersource.css') }}">
<script>
    x=document.getElementById('profile');
    x.className="w3-dropdown-hover w3-right active";
    </script>
<body>
<center>
<h1 style="color:#1a1f71; font-weight: bold;"><b>CyberSource {% if not b2b %}and B2B Payment{% endif %} Details</b></h1>
    <form id="form1" method="post" style="border: none;" action="/registerCyber/">
        <div id="newForm" class="containerForm">
            <table style="border-spacing: 10px 15px; border-collapse: initial;">
                <tr>
                    <td>
                        <h4><label for="AggregatorID">Aggregator ID  </label> </h4>
                    </td>
                    <td>
                        <input id="AggregatorID" value="{{ result['AggregatorID'] }}" name="aggregatorid" type="number" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4><label for="Name">Register Name</label> </h4>
                    </td>
                    <td>
                        <input id="Name" value="{{ result['Name'] }}" name="name" type="text" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> <label for="id">Card Acceptor id </label></h4>
                    </td>
                    <td>
                       <input id="id" value="{{ result['CardAcceptorID'] }}" name="cardacceptorid" type="number" required>

                    </td>
                </tr>
                {% if not b2b %}
                <tr>
                    <td>
                        <h4> <label for="id">Account Number</label></h4>
                    </td>
                    <td>
                       <input id="accid" value="{{ result['funding_acc_number'] }}" name="funding_acc_number" type="number" required>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="6">
                        <h4><input type="submit" value="Confirm Details" ></h4>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</center>
</body>
</html>
