{% include "./common/header.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='./accounts/accounts.css') }}">\
<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    * {
        box-sizing: border-box;
    }
    button {
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #fdbb0a;
    }

    button:hover {
        cursor: pointer;
    }

    label{
        font-size: 100%;
    }
</style>
<script>
    function editAccount() {
        var x = "/editaccountinfo/";
        return window.location = x;
    }
</script>
<body>
<center>
    <h1 style="color:#1a1f71; font-weight: bold;">Account Details</h1>
</center>
    <div class="containerForm">
        <p>
            <label style="color: #1a1f71">Name : </label>
            <label style="width: 50%; color: #fdbb0a">{{ result['Name'] }}</label>
        </p>
        <p>
            <label style="color: #1a1f71">Registered Name : </label>
            <label style=" width: 50%;color: #fdbb0a  " >{{ result['RegisteredName'] }}</label>
        </p>
        <p>
            <label style="color: #1a1f71">Email id : </label>
            <label style=" width: 50%;color: #fdbb0a">{{ result['EmailID'] }}</label>
        </p>
        <p>
            <label style="color: #1a1f71">Contact Number : </label>
            <label style="width: 50%;color: #fdbb0a">{{ result['ContactNumber'] }}</label>
        </p>
        <p>
            <label style="color: #1a1f71">Address : </label>
            <label style="width: 50%;color: #fdbb0a">{{ result['Address'] }}</label>
        </p>
        <p>
            <label style="color: #1a1f71">Password : </label>
            <label style=" width: 50%;color: #fdbb0a">
            {% for i in result['Password'] %}
                *
            {% endfor %}
            </label>
        </p>
        <br>
        <button onclick="editAccount()">Edit Above Details</button>
        <!--<input type="button" value="Edit Details" onclick="window.open('editUserDetails.html','_self')" /> -->
        <br>
    </div>
</body>
</html>
