/*Styling for navbar */

navbar a {
  font-size: 1.7rem;
  font-family: "open-sans", sans-serif, Tahoma;
  font-weight: 300;
  padding: 10px;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
  /* margin: 4px; */
  color: white;
  float: right;

  transition: all 0.2s ease;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

navbar a:hover, a:active{
  text-decoration: none;
  color: #f7b600;
}

navbar a:visited {
  color: #ffffff;
  text-decoration: none;
}

navbar a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  background: rgba(26, 31, 113);
}

.back:hover {
  color: #f7b600 !important;
  background-color: #1a1f71 !important;
}

/*Shadow*/

navbar .paper-shadow-bottom-z-2 {
  box-shadow: 0 8px 17px 0 rgba(26, 31, 113, 0.2);
}

/*Setting Up Navbar Layouts*/

navbar .navbar-inverse {
  color: #ffffff;
  background: #1a1f71;
  border: none;
  min-height: 50px;
  max-height: 50px;
  height: 50px;
  margin-bottom: 0px;
}

navbar .container-fluid {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

navbar .navbar-body {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

navbar div.navbar-end {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

navbar div.navbar-start,
navbar div.navbar-end {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
}

navbar div.navbar-start .logo {
  opacity: 0.6;
  width: 30px;
}

navbar button {
  font-size: 16px;
  font-family: "open-sans", sans-serif, Tahoma;
  font-weight: 300;
  padding: 12px;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
  /* margin: 4px; */
  color: white;
  /* float: right; */

  background-color: #1a1f71;
  text-decoration: none;
  border: none;
  border-style: none;
}

navbar button:hover {
  color: #f7b600;
  background-color: #1a1f71;
  text-decoration: none;
  border: none;
  border-style: none;
}

navbar button:active {
  background-color: #1a1f71;
  text-decoration: none;
  border: none;
  border-style: none;
}

.navbar div ul li div a {
  background-color: #1a1f71;
}

.navbar div ul li div a:hover {
  background-color: #1a1f71;
}

.navbar div ul li div a:active {
  background-color: #1a1f71;
  text-decoration: none;
}

.navbar div ul li div .back:hover {
  background-color: #1a1f71;
  background-color: black;
}

/*Integrating Two Navbars Together*/

navbar .nav {
  z-index: 1;
}

navbar .tabs {
  margin-top: 50px;
  z-index: 1;
  position: relative;
}

navbar .tabs .navbar-body {
  padding: 0;
  margin-bottom: 0;
}

navbar .ico-btn {
  position: relative;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 5px;
}

navbar .ico-btn.search-btn,
.ico-btn.clear-btn {
  padding: 2px;
  margin: 1px;
  opacity: 0;
  visibility: hidden;
}

navbar .ico-btn.clear-btn {
  margin-right: -30px;
  -webkit-animation: 0.3s SwiftSlideToRight cubic-bezier(0.21, 0.61, 0.36, 1)
    0.2s;
  -o-animation: 0.3s SwiftSlideToRight cubic-bezier(0.21, 0.61, 0.36, 1) 0.2s;
  animation: 0.3s SwiftSlideToRight cubic-bezier(0.21, 0.61, 0.36, 1) 0.2s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

navbar div.search.focused.not-null.multi-char .ico-btn.clear-btn {
  margin-right: 0;
  opacity: 1;
  visibility: visible;
  -webkit-animation: 0.3s SwiftSlide cubic-bezier(0.21, 0.61, 0.36, 1);
  -o-animation: 0.3s SwiftSlide cubic-bezier(0.21, 0.61, 0.36, 1);
  animation: 0.3s SwiftSlide cubic-bezier(0.21, 0.61, 0.36, 1);
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

navbar .ico-btn {
  -webkit-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
  -moz-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
  -ms-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
  -o-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
  transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
}

navbar div.search.focused.not-null .ico-btn.search-btn {
  visibility: visible;
  opacity: 1;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

/*Styling Tabs*/

navbar .tabs .navbar-body li.active a {
  color: #f7b600;
  background-color: #1a1f71;
  text-decoration: none;
}

navbar .tabs .navbar-body li {
  -webkit-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
  -moz-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
  -ms-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
  -o-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
  transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
}

navbar .tabs .navbar-body li:hover {
  color: #f7b600;
  background: rgb(26, 30, 113);
}

navbar .tabs .navbar-body li:active {
  background: rgb(26, 30, 113);
  text-decoration: none;
}

navbar .tabs .navbar-body li a:hover,
.tabs .navbar-body li a:active {
  background: rgb(26, 30, 113);
  color: #f7b600;
  text-decoration: none;
}

/*Styling Tab Highlighter*/

navbar .tab-highlighter {
  height: 2px;
  color: #ffffff;
  width: 50px;
  margin-top: -2px;
  background: #f7b600;
  position: absolute;
  -webkit-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
  -moz-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
  -ms-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
  -o-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
  transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
}

.line {
  height: 5px;
  color: #ffffff;
  width: 100%;
  margin-top: -2px;
  background: #fdbb0a;
  position: absolute;
}

/*Keyframes*/

@keyframes SwiftSlide {
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@keyframes SwiftSlideToRight {
  100% {
    opacity: 0;
    margin-right: -30px;
  }
}


/* notification for requirements     */
.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}