click==7.1.2
Flask==1.1.2
Flask-MySQLdb==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysqlclient==1.4.6
Werkzeug==1.0.1
requests==2.24.0
cybersource-rest-client-python==0.0.17
cryptography==2.8
geocoder=1.38.1
googlemaps