<!--
Function of page:
To edit offers details and product mapping to offer
-->
{% include "./common/header.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='./manage_offers/offers.css') }}">
<script type="text/javascript" src="{{url_for('static',filename='./manage_offers/offers.js') }}"></script>
<body>
<script>
    x=document.getElementById('offers');
    x.className="active";
</script>
<center>
    {% if message=='yes' %}
        <span style="color:green">Successfully added/edited offer</span>
    {% endif %}
    {% if message=='no' %}
        <span style="color:red;"> Already exists. Edit the offer </span>
    {% endif %}
    <h1 style="color: #1a1f71;">Edit Offer</h1>
    <form id="form" method="post" style="border: none;">
        <div id="newForm" class="containerForm">
            <table border="0" style="border-spacing: 10px 15px; border-collapse: initial;">
                <tr>
                    <td>
                        <h4>Discount Percentage</h4>
                    </td>
                    <td>
                        <input type="text" name="percentage" required value="{{data['DiscountPercentage']}}"></h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Information</h4>
                    </td>
                    <td>
                        <textarea name="info"  required>{{data['Information']}}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Valid Till</h4>
                    </td>
                    <td>
                        <input type="date"  name="date" id='date' value="{{data['ValidTill']}}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Quantity Required</h4>
                    </td>
                    <td><input type="number" min='0' name="quantity" id='quantity' value = "{{data['QuantityRequired']}}"
                               onchange="validate(this.id)" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Product</h4>
                    </td>
                    <td>
                        {% if productChecked %}
                            {% for i in productChecked %}
                                <input type="checkbox" value="{{i}}" name='selectedProducts' checked> {{i}} <br>
                            {% endfor %}
                        {% endif %}
                        {% if product %}
                            {% for i in product %}
                                <input type="checkbox" value="{{i}}" name='selectedProducts'> {{i}} <br>
                            {% endfor %}
                        {% else %}
                            No Product in your inventory
                        {% endif %}
                    </td>
                </tr>
            </table>
            <input style="display: block; 
          margin-right: auto;
          margin-left: auto;" type="submit" class="button" value="Submit"
                onclick="javascript: form.action='/offers/edit/{{offerID}}';">
        </div>
    </form><br><br>
</center>
</body>
</html>