<!--
Function of page:
To add and display offer information for a supplier merchant
-->
{% include "./common/header.html" %}
<script>
    x=document.getElementById('offers');
    x.className="active";
</script>
<link rel="stylesheet" href="{{ url_for('static',filename='./manage_offers/offers.css') }}">
<script type="text/javascript" src="{{url_for('static',filename='./manage_offers/offers.js') }}"></script>
<body>
    <center>
    {% if message=='yes' %}
        <span style="color:green">Successfully added/edited offer</span>
    {% elif message=='no' %}
        <span style="color:red;"> Offer already exists. Edit the offer </span>
    {% endif %}
    <h1 style="color: #1a1f71;">Offers</h1>
    <button type="button" class="button" id="formButton"><span> Add Offer </span></button>
    <form id="form1" method="post" style="border: none;">
        <div id="newForm" class="containerForm">
            <table border="0" style="border-spacing: 10px 15px; border-collapse: initial;">
                <tr>
                    <td>
                        <h4>Discount Percentage</h4>
                    </td>
                    <td>
                        <input type="text" name="percentage" required></h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Information</h4>
                    </td>
                    <td>
                        <textarea name="info" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Valid Till</h4>
                    </td>
                    <td>
                        <input type="date"  name="date" id='date'  required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Quantity Required</h4>
                    </td>
                    <td><input type="number" min='0' name="quantity" id='quantity' onchange="validate(this.id)" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Product</h4>
                    </td>
                    <td>
                        {% if product %}
                            {% for i in product %}
                                <input type="checkbox" value="{{i}}" name='selectedProducts'> {{i}} <br>
                            {% endfor %}
                        {% else %}
                            No Product in your inventory
                        {% endif %}
                    </td>
                </tr>
            </table>

            

            
            <input style="display: block; 
          margin-right: auto;
          margin-left: auto;" type="submit" class="button" value="Submit"
                onclick="javascript: form.action='/addoffer';">
        </div>
    </form>

    <br><br>
    
    {% if data %}
    <div class="container">
        <table class="table table-bordered">
            {% for item in data %}
            <tr style="all: none;">
                <td style="background-color: white; border: none;"></td>
            </tr>
            <tr class="header">
                <td colspan="2">
                    <h4>Offer ID: {{item['OfferID']}}</h4> <br>
                    Information: {{item['Information']}} <br>
                    Discount Percentage: {{item['DiscountPercentage']}} <br>
                    Valid Till: {{item['ValidTill']}} <br>
                    Quantity Required: {{item['QuantityRequired']}}
                    <h5><a title="Edit Product" href="/offers/edit/{{item['OfferID']}}"
                            style="color: #337ab7;">Edit
                            Offer</a></h5>
                    
                </td>
            </tr>
            {% if item['Products'] %} {% for x in item['Products'] %}
            <tr>
                <td>{{x['Name']}}</td>
                <td>{{x['Category']}}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
                <td>No Products associated with this offer</td>
            </tr>
            {% endif %} {% endfor %}
        </table>
    </div>
    {% endif %}
</center>
</body>
</html>