<!--
Function of page:
Display order information, allow merchant to rate and confirm a delivery
-->
{% include "./common/header.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='./manage_inventory/inventory.css') }}">
<script type="text/javascript" src="{{url_for('static',filename='./manage_inventory/inventory.js') }}"></script>
<script>
    x=document.getElementById('orders');
    x.className="active";
</script>
<center>
    <h1 style="color: #1a1f71;">Orders</h1>
    <form class="example" method="post" action="" style="margin:auto;max-width:600px">
        <span class="custom-dropdown custom-dropdown--white">
            <select name="filter" class="custom-dropdown__select">
                <option value="yes">Delivered</option>
                {% if filter=='no' %}
                    <option value="no" selected>Not delivered</option>
                {% else %}
                    <option value="no">Not delivered</option> {% endif %}
                {% if filter=='all' %}
                    <option value="all" selected>All</option>
                {% else %}
                    <option value="all">All</option> {% endif %}
            </select>
        </span>
        <button type="submit">Filter<i class="fa fa-filter"></i></button>
    </form>
    {% if history %}
    <div class="container">
        <table class="table table-bordered">
            {% for item in history %}
                <tr class="header">
                    <td colspan="2">
                        <h3>Cart Details</h3>
                        <form action="/delivered" method="post">
                            <input type="hidden" value="{{item['OrderID']}}" name="orderid">
                            {% if not item['DeliveredDate'] %}
                                <button style="float:right" type="submit">Click if delivery done</button>
                         </form>
                            {% else %}
                                {% if not item['Rated'] %}
                                <form method="post">
                                    <fieldset class="star-rating" id="rate-item-12343" style="padding-left:750px">
                                        <input class="star" name="rating" type="radio" checked="checked" value="1" />
                                        <input class="star" name="rating" type="radio" value="2" />
                                        <input class="star" name="rating" type="radio" value="3" />
                                        <input class="star" name="rating" type="radio" value="4" />
                                        <input class="star" name="rating" type="radio" value="5" />
                                        <input type="hidden" value="{{item['OrderID']}}" name="orderidrated">
                                    </fieldset>
                                    <button type="submit" onclick="javascript: form.action='/rating';">
                                        <h5>Rate your experience!</h5>
                                    </button><br>
                                    </form><br>
                                {% else %}
                                    <div style="padding-left:720px">
                                        Your rating : {{ item['Rated'] }}<br>
                                        <fieldset>
                                            {% if item['Rated']=='1' %}
                                            <input class="star" name="rating1" type="radio" value="1" checked="checked" />
                                            <input class="star" name="rating1" type="radio" value="2" disabled />
                                            <input class="star" name="rating1" type="radio" value="3" disabled />
                                            <input class="star" name="rating1" type="radio" value="4" disabled />
                                            <input class="star" name="rating1" type="radio" value="5" disabled /><br>
                                            {% elif item['Rated']=='2' %}
                                            <input class="star" name="rating2" type="radio" value="1" disabled />
                                            <input class="star" name="rating2" type="radio" value="2" checked="checked" />
                                            <input class="star" name="rating2" type="radio" value="3" disabled />
                                            <input class="star" name="rating2" type="radio" value="4" disabled />
                                            <input class="star" name="rating2" type="radio" value="5" disabled /><br>
                                            {% elif item['Rated']=='3' %}
                                            <input class="star" name="rating3" type="radio" value="1" disabled />
                                            <input class="star" name="rating3" type="radio" value="2" disabled />
                                            <input class="star" name="rating3" type="radio" value="3" checked="checked" />
                                            <input class="star" name="rating3" type="radio" value="4" disabled />
                                            <input class="star" name="rating3" type="radio" value="5" disabled /><br>
                                            {% elif item['Rated']=='4' %}
                                            <input class="star" name="rating4" type="radio" value="1" disabled />
                                            <input class="star" name="rating4" type="radio" value="2" disabled />
                                            <input class="star" name="rating4" type="radio" value="3" disabled />
                                            <input class="star" name="rating4" type="radio" value="4" checked="checked" />
                                            <input class="star" name="rating4" type="radio" value="5" disabled /><br>
                                            {% elif item['Rated']=='5' %}
                                            <input class="star" name="rating5" type="radio" value="1" disabled />
                                            <input class="star" name="rating5" type="radio" value="2" disabled />
                                            <input class="star" name="rating5" type="radio" value="3" disabled />
                                            <input class="star" name="rating5" type="radio" value="4" disabled />
                                            <input class="star" name="rating5" type="radio" value="5" checked="checked" /><br>
                                            {% endif %}
                                        </fieldset><br>
                                    </div>
                                {% endif %}
                            {% endif %}
                            Total: &#8377;{{item['Total']}} <br>
                            Was ordered on {{ item['OrderedDate'] }} <br>
                            {% if item['DeliveredDate'] %}
                                <span style="color:green">Was delivered on {{item['DeliveredDate']}}</span>
                            {% else %}
                                <span style="color:red">To be delivered</span>
                            {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="background-color:rgba(253, 187, 10, 0.6)">
                        <center>Products ordered</center>
                    </td>
                </tr>
                {% for x in item['Products_list'] %}
                    <tr>
                        <td>{{x['Name']}}</td>
                        <td>{{x['ProductCart.Quantity']}} pieces</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
    {% else %}
        <h3>No carts found</h3>
    {% endif %}
</center>
</body>

</html>