{% include "./common/header.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='./place_order/place_order.css') }}">
<script type="text/javascript" src="{{url_for('static',filename='./place_order/cart_feature.js') }}"></script>
<script>
    var finalPrice = sessionStorage.getItem("finalPrice");
    var discountPrice = sessionStorage.getItem("discountPrice");
    var check = false;
    function save(event) {

        if (check == true) {
            event.preventDefault();
        }
        check = true;
    }
    function negotiate() {
        check = true;
        var tprice = sessionStorage.getItem("discountPrice");
        var negprice = prompt("Please enter the amount you want", tprice);
        console.log(tprice, negprice);
        if (parseInt(negprice) <= parseInt(tprice) && parseInt(negprice) >= 0) {
            var priceSent = negprice;
            alert("Negotiated price (" + priceSent + ") sent to merchant");
        } else if (parseInt(negprice) > parseInt(tprice) || parseInt(negprice) < 0) {
            var priceSent = tprice;
            alert("Negotiated Price should be greater than 0 and less than Discount price(" + tprice + ")");
            alert("Discount price (" + priceSent + ") sent to merchant");
        }
    }

    function payment() {
        check=true;
    }
    function goBack() {
        window.history.back();
    }
    function FinalPrice() {

        var v1=document.getElementById("finalPrice");
        v1.innerHTML = finalPrice;

    }
    function DiscountPrice(){
        var v2 = document.getElementById("discountPrice");
        v2.innerHTML = discountPrice;
    }

    function showOffers(id){
        var v1 = document.getElementById(id);
        console.log(id,selectedOffers[id-1]);
        v1.innerText=selectedOffers[id];
    }
</script>
<body>
{%if totalQuantity ==0 %}
<h2>YOUR CART IS EMPTY</h2>
<div class="containerempty">
    <div class="vertical-center">
        <button type="button" onclick="goBack()">EDIT CART</button>
    </div>
</div>

{%else%}
<br><br><br>
<div class="container">
    <form method="post" action="" onsubmit="save()">
        <table class="table table-bordered">
            <tr>

                <th> Name</th>
                <th> Description </th>
                <th>Price Per Unit </th>
                <th> Quantity</th>
                <th> Selected Offers</th>
                <th> Discount Price(If Applied)</th>
            </tr>
            {% for i in range(0,len) %}
            <tr>
                {% if qty[i] != '0' %}
                <input type="hidden" name="ProductId[]" value="{{ProductID[i]}}">
                <td> {{Name[i]}}</td>
                <input type="hidden" name="Name[]" value="{{Name[i]}}">
                <td> {{Description[i]}}</td>
                <input type="hidden" name="Description[]" value="{{Description[i]}}">
                <td> {{Price[i]}}</td>
                <input type="hidden" name="Price[]" value="{{Price[i]}}">
                <td> {{qty[i]}}</td>
                <input type="hidden" name="qty[]" value="{{qty[i]}}">
                <td>{{Offers[i]}}</td>
                <td> {{discountPrice[i]}}</td>
                <input type="hidden" name="Price[]" value="{{discountPrice[i]}}">
                {% endif %}
            </tr>
            {% endfor %}
        </table>

        <tr><h3>Your final price is: Rs <span id="finalPrice">0</span></h3></tr>
        <h3>Your final discount price is: Rs <span id="discountPrice">0</span></h3></tr>
        <script> FinalPrice();
        DiscountPrice();
        </script>
        <br><br>
        <td><button type="button" onclick="goBack()">EDIT CART</button></td>
        <td><input type="submit" name="type" onclick="negotiate()" value="Want To Negotiate"/></td>
        <td><input type="submit" name="type" onclick="payment()" value="Process Payment"/></td>
    </form>
</div>
{%endif%}
</body>


</html>
