{% include "./common/header.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='./place_order/place_order.css') }}">
<script>
    function updateInput(dID, pID, dpID) {
        var discount = document.getElementById(dID).value;
        var cost = document.getElementById(pID).innerText;
        var fcost = document.getElementById(dpID);
        fcost.innerText = cost - (cost * (discount / 100));
    }
    function check(quantity, lLimit, uLimit,id) {
        if (quantity > uLimit) {
            alert("SORRY WE ONLY HAVE " + uLimit + " UNITS IN OUR STOCK. ");
        }
        quantity = Math.min(quantity, uLimit);
        quantity = Math.max(quantity, lLimit);
        //.log(document.getElementById(id).innerHTML);
        $("#"+id).val(quantity);
    }
</script>

<body>
    <h2> Place your Orders here </h2>

    {% if products %}

    <div class="container">
        <form id="form" method="post" action="">
        <table class="table table-bordered">
            <tr>
                <!-- <th> ProductID </th> -->
                <th> Name </th>
                <th> Description </th>
                <th> Price </th>
                <th> Discount <br>(%) </th>
                <th> Quantity </th>
                <th> Category </th>
                <th> Discounted <br> Price </th>
                <th> Add </th>
            </tr>

            {% for item in products %}
            <tr>
                <!-- <td> {{item['ProductID']}} </td> -->
                <td> {{item['Name']}} </td>
                <td> {{item['Description']}} </td>
                <td value={{item['Price']}} id="price{{loop.index0}}"> {{item['Price']}} </td>

                <td>
                    {% if offers[item['ProductID']]|length > 0 %}
                    <select name="offerOptions" id="offerOptions{{loop.index0}}" onchange="updateInput('offerOptions{{loop.index0}}', 'price{{loop.index0}}', 'dprice{{loop.index0}}')">
                        <option value=0 selected="true "> No discount </option>
                        {% for offer in offers[item['ProductID']] %}
                        <option value={{offer['DiscountPercentage']}}> {{offer['Information']}} </option>
                        {% endfor %}
                    </select> {% else %} {{"No offers "}} {% endif %}
                </td>

                <td> {{item['Quantity']}} </td>
                <td> {{item['Category']}} </td>
                <td value={{item['Price']}} id="dprice{{loop.index0}}"> {{item['Price']}} </td>
                <td>
                    <input name="qty" id="{{loop.index}}" value="0" type="number " min="0 " max={{item['Quantity']}} onchange="check(value,min,max,id)">
                </td>

                {% if offers[item['ProductID']]|length > 0 %}
                <script>
                    updateInput('offerOptions{{loop.index0}}', 'price{{loop.index0}}', 'dprice{{loop.index0}}');
                </script>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

        <input type="submit" value="ADD TO CART" name="{{products}}" />
        </form>
    </div>

    {% endif %}
</body>


</html>