{% include "./common/header.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='./place_order/place_order.css') }}">

<body>
    <h2> Place your Orders here </h2>

    {% if products %}
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th> ProductID </th>
                <th> Name </th>
                <th> Description </th>
                <th> Price </th>
                <th> Offers </th>
                <th> Quantity </th>
                <th> Category </th>
                <th> Add </th>
            </tr>
            {% for item in products %}
            <tr>
                <td> {{item['ProductID']}} </td>
                <td> {{item['Name']}} </td>
                <td> {{item['Description']}} </td>
                <td> {{item['Price']}} </td>

                <td>

                    {% if offers[item['ProductID']]|length > 0 %}
                    <select name="offerOptions" id="offerOptions">
                        <option value=headerOption disabled selected="true"> Offer ID </option>
                        {% for offer in offers[item['ProductID']] %}
                        <option value={{offers[OfferID]}}> {{offer['OfferID']}} </option>
                        {% endfor %}
                    </select> {% else %} {{"No offers"}} {% endif %}

                </td>

                <td> {{item['Quantity']}} </td>
                <td> {{item['Category']}} </td>
                <td> <input name="qty" id="qty" type="number" min="0" max={{item['Quantity']}} step="1" onchange="check()"> </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</body>

<script>

    function check() {
        var quantity = document.getElementById("qty").value;
        var uLimit = document.getElementById("qty").max;
        var lLimit = document.getElementById("qty").min;
        console.log(quantity);
        quantity = Math.min(quantity,uLimit);
        quantity=Math.max(quantity,lLimit);
        document.getElementById("qty").value = quantity;
    }
</script>

</html>