{% include "./common/header.html" %}
       <link rel="stylesheet" href= "{{ url_for('static',filename='./search_merchants/search_style.css') }}">
<body>
        <h1><center>Nearby merchants</center></h1>
         <center>
        <form class="example" method="post" action=""
         style="margin:auto;max-width:600px">

            <select name="search">
    <option value="product">Search by Product</option>
    <option value="merchant">Search by merchant</option> <br>
  </select><br>

<input type="number" name="radius" placeholder="Search radius in km">
            <br><br>
              <input type="checkbox"  name="offerbox" value="True">
  <label > Only display results of merchants who give offers</label><br>
            <input type="text" placeholder="Search by product name" name="name">
            <button type="submit"><i class="fa fa-search"></i>
            </button>

        </form>
                <div id="map"></div>
        <p>
            {% if product %}
             Search result for {{product}} <br>

            <table border="1">
             <tr>
                 <th>Name</th>
                 <th>Product</th>
                 <th>Category</th>
             </tr>
        {% for item in data %}
            <tr>
                <td> {{item['Name']}}</td>
                <td> {{item['Product.Name']}}</td>
<td> {{item['Category']}}</td>
                </br>
            </tr>
        {% endfor %}

             </table>
                         {% endif %}
        </center>
    </body>
</html>

 <script>
        var data = '{{ merchants|tojson }}';
        var jsonData = JSON.parse(data);

        function initMap() {

            var india = {
                lat: 20.5937,
                lng: 78.9629
            };
            var map;
            if (jsonData.length == 0)
                map = new google.maps.Map(
                    document.getElementById('map'), {
                        zoom: 4,
                        center: india
                    });
            else
                map = new google.maps.Map(
                    document.getElementById('map'), {
                        zoom: 7,
                        center: {
                            lat: parseFloat(jsonData[0].Latitude),
                            lng: parseFloat(jsonData[0].Longitude)
                        }
                    });


            var infowindow = new google.maps.InfoWindow();

            var marker, i;

            for (i = 0; i < jsonData.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(parseFloat(jsonData[i].Latitude), parseFloat(jsonData[i].Longitude)),
                    map: map
                });
                if(parseInt(jsonData[i].distance)===0){
                  
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')
                }else{
                    console.log(jsonData[i]);
                }
                    
                

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(jsonData[i].RegisteredName);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }


        }
    </script>
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAntxrxhQu11TxFD9wEe7JxxW1UZ0HQXRY&callback=initMap"></script>