{% include "./common/header.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='./search_merchants/search_style.css') }}">
<body>
    <h1>
        <center>Nearby merchants</center>
    </h1>
    <center>
        <form class="example" method="post" action="" style="margin:auto;max-width:600px">

            <select name="search">
                <option value="product">Search by Product</option>
                <option value="merchant">Search by merchant</option> <br>
            </select><br>

            <input type="number" name="radius" placeholder="Search radius in km">
            <br><br>
            <input type="checkbox" name="offerbox" value="True">
            <label> Only display results of merchants who give offers</label><br>
            <input type="text" placeholder="Search by product name" name="name" id="check">
            <button type="submit" id="submitButton"><i class="fa fa-search"></i>
            </button>

        </form>
        <div id="map"></div>
{% if product %} Search result for {{product}}
<div class="container">
  <table class="table table-bordered">
      {% for item in data %}
    <tr class="header">
      <td colspan="2"><h3>{{item['Name']}}</h3><br>{% if search_option=='product' %}<br>{{item['Product.Name']}} {% endif %}</td>
    </tr>
      {% if item['Offers'] %}
       {% for x in item['Offers'] %}
    <tr>
      <td>{{x}}</td>
      <td>Discount</td>
    </tr>
       {% endfor %}
      {% else %}
      <tr>
      <td>No discounts available</td>
          </tr>
      {% endif %}

       {% endfor %}
  </table>
</div>
 {% endif %}
    </center>
    <script>
    $(document).ready(function() {
  //Fixing jQuery Click Events for the iPad
  var ua = navigator.userAgent,
    event = (ua.match(/iPad/i)) ? "touchstart" : "click";
  if ($('.table').length > 0) {
    $('.table .header').on(event, function() {
      $(this).toggleClass("active", "").nextUntil('.header').css('display', function(i, v) {
        return this.style.display === 'table-row' ? 'none' : 'table-row';
      });
    });
  }
})
    </script>
</body>

</html>

<script>
    var data = '{{ merchants|tojson }}';
    var jsonData = JSON.parse(data);

    function initMap() {

        var india = {
            lat: 20.5937,
            lng: 78.9629
        };
        var map;
        if (jsonData.length == 0)
            map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 4,
                    center: india
                });
        else
            map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 7,
                    center: {
                        lat: parseFloat(jsonData[0].Latitude),
                        lng: parseFloat(jsonData[0].Longitude)
                    }
                });


        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < jsonData.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(parseFloat(jsonData[i].Latitude), parseFloat(jsonData[i].Longitude)),
                map: map
            });
            if (parseInt(jsonData[i].distance) === 0) {

                marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')
            }


            google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                return function() {
                    infowindow.setContent(jsonData[i].RegisteredName);
                    infowindow.open(map, marker);
                }
            })(marker, i));

            google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
                return function() {
                    infowindow.close();
                }
            })(marker, i));


            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    if (parseInt(jsonData[i].distance) !== 0)
                        window.location.href = '/merchant/' + jsonData[i].MerchantID;
                }
            })(marker, i));
        }
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAntxrxhQu11TxFD9wEe7JxxW1UZ0HQXRY&callback=initMap"></script>
