{% include "./common/header.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='./requirements/requirements.css') }}">


<script>
    function showThis(ii) {

        document.getElementById("thisDiv1").style.display="none";
        document.getElementById("thisDiv2").style.display="none";

        document.getElementById("thisDiv"+ii).style.display="block";
    }
    function validateForm() {
        var x = document.forms["requirementForm"]["title"].value;
        var x2 = document.forms["requirementForm"]["Quantity"].value;
        if (x == "") {
            alert("Error in Creating Request. Fill all Information Carefully");
            return false;
        }
        if (parseInt(x2)<=0) {
            alert("Error in Creating Request. Fill all Information Carefully");
            return false;
        }
    }
</script>
<style>
    .grab {cursor: -webkit-grab; cursor: grab;}

    .split {

        height: 100%;
        width: 18%;
        position: absolute;
        top: 100px;
        overflow-x: hidden;
        padding-top: 50px;
        gap: 10%;
    }
    .split1 {
        height: 100%;
        width: 78%;
        position: absolute;

        top: 80px;
        overflow-x: hidden;
        padding-top: 50px;
    }

    .left {
        left: 0;
        background-color: #111;
    }

    .right {
        right: 2%;

    }
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    input[type=number] {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }


    .containerForm {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 15px;


    }
</style>
<body>

        <div>
            <ul  class="grab split left">

                <ul>
                    <h4  class="grab" style="color:chocolate"  onclick="showThis(1)" >Create Request</h4>
                </ul>
                <ul>
                    <h4 class="grab" style="color:chocolate" onclick="showThis(2)">View Request</h4>
                </ul>
            </ul>
        </div>

        <div id="thisDiv1"  class="split1 right">
            <h1>Create Your Request</h1>
            <form name="requirementForm"  action="" onsubmit="return validateForm()" method="post" required>

                <div id="requestForm" class="containerForm ">
                    <label for="title1">Title</label>
                    <input type="text" name="title" id="title1" placeholder="Item Name"/>
                    <label for="requesterName">Merchant Business Name</label>
                    <input type="text" name="requesterName" id="requesterName" value="{{registeredName}}" readonly/>
                    <label for="description">Description</label>
                    <textarea id="description" name="description" placeholder="Write About Your Requirement...">
                    </textarea>
                    <label for="Quantity">Quantity Required: </label>
                    <input type="number" name="Quantity" id="Quantity" style="height:50px" placeholder="Quantity Required"/>
                    <label for="Price">Amount in Rs: </label>
                    <input type="number" name="Price" id="Price" style="height:50px" placeholder="Expected Amount"/>
                <br><br>
                <input name="createRequest" type="submit" value="Post Request">

            </div>
            </form>

        </div>
        <div id="thisDiv2" style="display: none" class="split1 right">
            <center>
            <form class="example" method="post" action="" style="margin:auto;max-width:600px">
            <select name="filter">
                <option value="S">Selling</option>
                {% if filter=='N' %}
                <option value="N" selected>Not Selling</option>
                {% else %}
                <option value="N">Not Selling</option> {% endif %}
                {% if filter=='A' %}
                <option value="A" selected>All</option>
                {% else %}
                <option value="A">All</option> {% endif %}
            </select>
            <button type="submit" >Filter<i class="fa fa-filter"></i>
            </button>
        </form>
        {% if items %}
        <div class="container">
            <table class="table table-bordered">
                {% for item in items %}
                <tr class="header">
                    <td colspan="2">
                       <h3>{{item['Name']}}</h3>Description: {{item['Description']}} <br>Category: {{item['Category']}} <br>
                    Cost per unit: {{item['Price']}}<br>Quantity: {{item['Quantity']}}
                    <h4><a title="Edit Product" href="/inventory/edit/{{item['ProductID']}}">Edit Product</a></h4>
                </tr>
                {% if item['offers'] %} {% for x in item['offers'] %}
                <tr>
                    <td>{{x['Information']}}</td>
                </tr>
                {% endfor %} {% else %}
                <tr>
                    <td>No discounts available</td>
                </tr>
                {% endif %} {% endfor %}
            </table>
        </div>
        {% endif %}
</center>
        </div>
</body>
</html>