{% include "./common/header.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='./requirements/requirements.css') }}">
<script type="text/javascript" src="{{url_for('static',filename='./requirements/requirements.js') }}"></script>

<body onload="showThis({{profile}})">

    <div>
        <ul class="split left">
            <li>
                <h4 onclick="showThis(2)">Supplier profile</h4><br>
            </li>
            <li>
                <h4 onclick="showThis(3)" id="buyerTab">Buyer profile</h4>
            </li>
            <li style="margin-left: 25px; display: none" id="createReqTab">
                <h4 onclick="showThis(1)">Create Request</h4>
            </li>
        </ul>
    </div>

    <div id="thisDiv1" class="split1 right">
        <h1 style="color:#1a1f71">Create Your Request</h1>
        <form name="requirementForm" action="" onsubmit="return validateForm()" method="post" required>

            <div id="requestForm" class="containerForm ">
                <label for="title1">Title</label>
                <input type="text" name="title" id="title1" placeholder="Item Name" required />
                <label for="requesterName">Merchant Business Name</label>
                <input type="text" name="requesterName" id="requesterName" value="{{registeredName}}" readonly />
                <label for="description">Description</label>
                <textarea id="description" name="description" placeholder="Write About Your Requirement...">
                    </textarea>
                <label for="Quantity">Quantity Required: </label>
                <input type="number" name="Quantity" id="Quantity" style="height:50px" min="1"
                    placeholder="Quantity Required" required /> <br>
                <label for="Price">Amount in Rs: </label>
                <input type="number" name="Price" id="Price" style="height:50px" placeholder="Expected Amount" />
                <br><br>
                <input name="createRequest" class="button" type="submit" value="Post Request">

            </div>
        </form>
    </div>
    <div id="thisDiv2" style="display: none" class="split1 right">
        <h1>Your supplier profile for requirements</h1>
        <form class="example" method="post" action="" style="margin:auto;max-width:600px">
            <select name="filtersupplier">
                {% if choice=='P' %}
                <option value="P" selected>Posts</option>
                {% else %}
                <option value="P">Posts</option>{% endif %}
                {% if choice=='A' %}
                <option value="A" selected>Approved by buyer</option>
                {% else %}
                <option value="A">Approved by buyer</option>{% endif %}
                {% if choice=='R' %}
                <option value="R" selected>Rejected by buyer</option>
                {% else %}
                <option value="R">Rejected by buyer</option>{% endif %}
                {% if choice=='W' %}
                <option value="W" selected>Pending</option>
                {% else %}
                <option value="W">Pending</option>{% endif %}
                {% if choice=='E' %}
                <option value="E" selected>All Approved</option>
                {% else %}
                <option value="E">All accepted by you</option>{% endif %}
            </select>
            <input type="submit" class="button" onclick="javascript: form.action='/requirementssupplier';"
                value="Submit">
        </form>

        {% if choice=='A' %}
        <h1>Approved by buyer</h1>
        {% elif choice=='R' %}
        <h1>Rejected by buyer</h1>
        {% elif choice=='W' %}
        <h1>Pending</h1>
        <form method="post" action="/requirementssupplier">
            <h3>Title of requirement</h3>
            <div>
                <button type="button" class="button">Show Detailed Request and Contact Info after clicking and ask for
                    price id
                    approving</button>
                <div name="requestSending" style="opacity: 50%">
                    <h3> show Info</h3>
                    <label for="expectPrice">ExpectPrice: </label>
                    <input type="number" id="expectPrice" style="height: 40px ;width: 80px;" name="expectPrice"
                        value="1">
                    <label for="expectDelivery">ExpectDeliveryDate: </label>
                    <input type="date" id="expectDelivery" name="expectDelivery">

                    <input type="hidden" name="requirementID" value="requirementID">
                    <input type="submit" name="Approve" value="Approve">
                    <input type="submit" name="Reject" value="Reject">
                </div>
            </div>
        </form>
        {% elif choice=='E' %}
        <h1>All Accepted by you</h1>
        {% elif choice=='P' %}
        <h1>Posts</h1>
        {% else %}
        <h1>Posts</h1>
        <h3>Enter your filter</h3>
        {% endif %}
        {% if sup_items %}
        {{sup_items}}
        {% endif %}
    </div>
    <div id="thisDiv3" style="display: none" class="split1 right">
        <!--  FIRST THIS -->
        <h1>Your buyer profile for requirements</h1>
        <form method="post" action="">
            <select name="filterbuyer">
                {% if buyer_choice=='R' %}
                <option value="R" selected>Your requests</option>
                {% else %}
                <option value="R">Your requests</option>{% endif %}
                {% if buyer_choice=='P' %}
                <option value="P" selected>Paid</option>
                {% else %}
                <option value="P">Paid</option>{% endif %}
                {% if buyer_choice=='D' %}
                <option value="D" selected>Delivered</option>
                {% else %}
                <option value="D">Delivered</option>{% endif %}
                {% if buyer_choice=='E' %}
                <option value="E" selected>All requests</option>
                {% else %}
                <option value="E">All requests</option>{% endif %}
            </select>
            <input type="submit" class="button" onclick="javascript: form.action='/requirementsbuyer';">
        </form>
        {% if buyer_choice=='P' %}
        <h1>Paid</h1>
        {% elif buyer_choice=='D' %}
        <h1>Delivered</h1>
        {% elif buyer_choice=='E' %}
        <h1>All requests</h1>
        {% elif buyer_choice=='R' %}
        <h1>Requests pending</h1>

        <form method="post" action="/requirementsbuyer">
            <div id="accept/reject">
                <h1>Your Request(one request example)</h1>
                <p>List of Interested Buyers</p>
                <div>
                    <input type="radio" name="buyer1" value="buyer1" id="buyer1" />
                    <label for="buyer1">buyer1</label>
                    <input type="hidden" name="requirementID" value="requirementID1">
                    <input type="submit" name="AC" value="ACCEPT DEAL" />
                </div>
                <div>
                    <input type="radio" name="buyer2" id="buyer2" value="buyer2" />
                    <label for="buyer2">buyer2</label>
                    <input type="hidden" name="requirementID" value="requirementID2">
                    <input type="submit" name="AC" value="ACCEPT DEAL" />
                </div>
                <div>
                    <input type="radio" name="buyer3" value="buyer3" id="buyer3" />
                    <label for="buyer3">buyer3</label>
                    <input type="hidden" name="requirementID" value="requirementID3">
                    <input type="submit" name="AC" value="ACCEPTDEAL" />
                </div>
            </div>
        </form>
        {% else %}
        <h1>Requests pending</h1>
        <h3>Enter your filter</h3>
        {% endif %}
        {% if buy_items %}
        {{buy_items}}
        {% endif %}
    </div>
</body>

</html>