{% include "./common/header.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='./manage_inventory/inventory.css') }}">
<script type="text/javascript" src="{{url_for('static',filename='./manage_inventory/inventory.js') }}"></script>
<script>
    x=document.getElementById('inventory');
    x.className="active";
</script>
<center>
    {% if message=='yes' %}
    <span style="color:green">Successfully added product</span>
    {% endif %}
    {% if message=='no' %}
    <span style="color:red;"> Already exists. Edit the product to change the quantity or sell options </span>
    {% endif %}
    <h1 style="color: #1a1f71;">Inventory</h1>
    <button type="button" class="button" id="formButton"><span> Add product </span></button>

    <form id="form1" method="post" style="border: none;">
        <div id="newForm" class="containerForm">
            <table border="0" style="border-spacing: 10px 15px; border-collapse: initial;">
                <tr>
                    <td>
                        <h4>Product name </h4>
                    </td>
                    <td> <input type="text" name="name" required></h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Product Description</h4>
                    </td>
                    <td><textarea name="description" required></textarea></td>
                </tr>
                <tr>
                    <td>
                        <h4>Price per piece</h4>
                    </td>
                    <td>
                        <input type="number" min='1' name="price" id='price' onchange="validate(this.id)" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Quantity</h4>
                    </td>
                    <td><input type="number" min='0' name="quantity" id='quantity' onchange="validate(this.id)"
                            required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Category</h4>
                    </td>
                    <td>
                        <span class="custom-dropdown custom-dropdown--white">
                            <select name="category" class="custom-dropdown__select custom-dropdown__select--white"
                                onclick="checkvalue(this.value)">
                                {% for i in category %}
                                <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                                <option value="others">Others</option>
                            </select>
                        </span>
                    </td>
                </tr>
            </table>

            <div id='category' style='display:none'>
                <h4 for="other_category">Type Your Category: </h4><br>
                <input id="other_category" type="text" name="other_category" value=''>
            </div><br><br>

            <input type="radio" name="sell" value="1" checked><b> Show as selling to other merchants</b><br>
            <input type="radio" name="sell" value="0"><b> Add to inventory without showing to other
                merchants</b><br><br>
            <input style="display: block; 
          margin-right: auto;
          margin-left: auto;" type="submit" class="button" value="Submit"
                onclick="javascript: form.action='/addproduct';">
        </div>
    </form>

    <br><br>
    <form class="example" method="post" action="" style="margin:auto;max-width:600px">
        <span class="custom-dropdown custom-dropdown--white"><select name="filter"
                class="custom-dropdown__select custom-dropdown__select--white">
                <option value="S">Selling</option>
                {% if filter=='N' %}
                <option value="N" selected>Not Selling</option>
                {% else %}
                <option value="N">Not Selling</option> {% endif %}
                {% if filter=='A' %}
                <option value="A" selected>All</option>
                {% else %}
                <option value="A">All</option> {% endif %}
            </select>
        </span>
        <button type="submit">Filter<i class="fa fa-filter"></i></button>
    </form>
    {% if items %}
    <div class="container">
        <table class="table table-bordered">
            {% for item in items %}
            <tr style="all: none;">
                <td style="background-color: white; border: none;"></td>
            </tr>
            <tr class="header">
                <td class="text" colspan="2">
                    <h4>{{item['Name']}}</h4> <br>
                    Description: {{item['Description']}} <br>
                    Category: {{item['Category']}} <br>
                    Cost per unit: {{item['Price']}} <br>
                    Quantity: {{item['Quantity']}}
                    <h5><a title="Edit Product" href="/inventory/edit/{{item['ProductID']}}"
                            style="color: #337ab7;">Edit
                            Product</a></h5>
                </td>
            </tr>
            {% if item['offers'] %} {% for x in item['offers'] %}
            <tr>
                <td>{{x['Information']}}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
                <td>No discounts available</td>
            </tr>
            {% endif %} {% endfor %}
        </table>
    </div>
    {% endif %}
</center>

</html>